BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
BOT_USERNAME=your_bot_username
ADMIN_IDS=123456789

# MongoDB Atlas
DATABASE_BACKEND=mongo
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=tele_tinder

PAYMENT_PROVIDER_TOKEN=
CURRENCY=INR
PRICE_SYMBOL=₹
START_DELAY=20
NOTIFY_NEW_USERS=1
